 <head><% layout("layouts/boilerplate") -%>
  <link rel="stylesheet" href="style.css">
  </head>
<body >
    <h1>All listings</h1>
    <form method="GET" action="/listings/new"> 
        <button > Create New Listing</button>
     
 <% for (let listings of alllisting){ %>
<div class="card" style="width: 18rem;"> 
  <li> <a href="/listings/<%= listings._id %> "><%=listings.title %> </a></li>
    
  <img src="<%=listings.image%>" class="card-img-top" alt="...">

  <div class="card-body">
    <p class="card-text"><%=listings.title%></p>
  </div>
</div>
<% } %>




<!-- 
    <ul>
    <% for (let listings of alllisting){ %>
    <li> <a href="/listings/<%= listings._id %> "><%=listings.title %> </a></li>
    
<% } %> -->
</form>
</ul>


</body>

