<head><% layout("layouts/boilerplate") -%>
  <link rel="stylesheet" href="style.css">
  </head>
<body>

 
    <ul>
   <li><%=listings.title %></li>
   <li><%=listings.country %></li>
   <li><%=listings.location%></li>
   <li><%=listings.price.toLocaleString("en-IN")%></li>
   
   
   <a href="/listings/<%= listings._id %>/edit"> Edit this Listing</a>
 



   <form method="POST" action="/listings/<%= listings._id %>?_method=DELETE">
    <button type="submit">Delete this listing</button>
</form>

    </ul>

    <div class="col-8-offset-3">
      <h4>Leave a Review</h4>
      <form class="mb-3 mt-3"  action="/listings/<%=listings.id%> /reviews" method="POST" novalidate  class="needs-validation">
        <div class="mb-3 mt-3">
          <label for="rating">Rating</label>
          <input type="range"  class="form-range" min="1" max="5" name="review[rating]" class="foem-control">
        </div>
        <div class="mb-3 mt-3">
          <label for="Comment" class="form-label">Comments</label>
          <textarea name="review[comments]" class="form-control" id="" cols="30" rows="10" ></textarea>
        </div>
        <div class="invalid-feedback"> Please add some comment </div>
        <div class="mb-3 mt-3">
          <button class="btn btn-outline-dark">Submit</button>
        
      </form>

    </div>
  </div>
</body>
</html> 